body {
    font-family: Arial;
    background: #eee;
}
 
.login-box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
 
input {
    width: 90%;
    margin-bottom: 10px;
    padding: 8px;
}
 
button {
    width: 90%;
    padding: 10px;
    background: #0077ff;
    color: white;
    border: none;
}
#output {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}